@{
    ViewData["Title"] = "Experience";
}

<div class="container py-5">
    <h2 class="mb-4">Work Experience</h2>

    
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <h5 class="text-muted">2021 - 2023</h5>
                </div>
                <div class="col-md-9">
                    <h4> Game deep tester</h4>
                    <h5></h5>
                    <ul>
                        <li>Test game feature </li>
                        <li>Give feedback about gameplay and charater balance</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



    <h3 class="mb-4 mt-5">Notable Projects</h3>
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">F-Notion</h5>
                    <p class="card-text">Website for IT team or company to manage task and project.</p>
                    <div class="mt-2">
                        <span class="badge bg-secondary me-2">C#</span>
                        <span class="badge bg-secondary me-2">.netCore </span>
                        <span class="badge bg-secondary me-2">js</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">FNet</h5>
                    <p class="card-text">Website for fpt university student.</p>
                    <div class="mt-2">
                        <span class="badge bg-secondary me-2">java</span>
                        <span class="badge bg-secondary me-2">js </span>
                        <span class="badge bg-secondary me-2">css</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">E-Manga</h5>
                    <p class="card-text">Built a scalable managa reading website  .</p>
                    <div class="mt-2">
                        <span class="badge bg-secondary me-2">java</span>
                        <span class="badge bg-secondary me-2">js </span>
                        <span class="badge bg-secondary me-2">css</span>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div> 